<div class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row style="width: max-contents;">
            <p><br/></p>
            <p style="text-align:right">aditya.bhokarikar@gmail.com</p>
            <div class="spacer"></div> 
            <p style="text-align:left">+91 9545648419</p>
        </mat-toolbar-row>
        <router-outlet></router-outlet>
    </mat-toolbar> 
</div>